body {
    background-color: $body-background-color;
    margin: 0;
    font-family: $main-font;
}

// ABOUT PAGE

//photo gallery
.gallery-about {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.container_menu_items {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 70px 0px;
}

.img_container {
    position: relative;
    width: 150px;
    margin: 10px;

    img {
       
        display: block;
    }

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: $img-hover-background;
  
}

.text_line {
    color: $white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.shop-button {
    color: $nav-font-color;
   
    position: absolute;
    top: 72%;
    left: 50%;
    width: 100px;
    height: 30px;
    border: 1px solid $white;
    background-color: $white;
   
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1px 7px 2px;

    a {
        color: $nav-font-color;
        text-decoration: none;
        outline: none;
        font-size: 14px;
        font-family: $main-font;

        #{$link-hover-selector} {
            outline: none;
        }
    }
}

.img_container:hover .overlay {
    opacity: 1;
}

//text 
.text-about {
    text-align: center;
    color: $nav-font-color;

    h4 {
        margin: 0;
        text-align: center;
    }
}

// shop page
.gallery-shop {
    margin: 20px;
}

.flex-spaced-out {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0px 10px;
}

.box {
    width: 254px;
    margin-top: 10px;
}


.img_box_container img {
    width: 250px;
}

figure {
    border: 1px solid $shop-photo-borders;
    width: 253px;
    margin: 0;

}

figcaption h4 {
    padding: 10px;
}

.figure_right {
    margin: 0;
    display: flex;
}

h4 {
    color: $nav-font-color;
    text-align: left;
}

.text {
    text-align: left;
    margin: 0 9px 10px 9px;
    color: $nav-font-color;
}

.price-and-button {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.info-under-image h4 {
    margin: 0;
}

// Image hover effect
.item {
    position: relative;
    border: 1px solid $shop-img-hover-photo;
    overflow: hidden;
    width: 250px;
    height: 250px;
}

.item img {
    max-width: 100%;

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    #{$hover} {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

}

// end of image hover effect
// Button
.col {
    height: 100%;
}

div[class*=button1] {
    text-align: center;
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-1 {
    background: $shop-button-bgc;
}

.btn {
    position: relative;
    color: $nav-font-color;
    width: 100px;
    height: 30px;
    line-height: 64px;
    transition: all 0.3s;
    font-size: 0.8em;

    span {
        position: relative;
        top: -18px;
        transition: all 0.3s;
        @include transform($scale);
    }
}

.btn::before,
.btn::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.btn-one::before {
    left: 4px;
    z-index: 1;
    opacity: 0;
    background: $shop-button-hover;
    transform: scale(0.1, 1);
}

.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-one::after {
    transition: all 0.3s;
    border: 1px solid $shop-button-border;
}

.btn-one:hover::after {
    transform: scale(1, .1);
    opacity: 0;
}

@media screen and (max-width: $desktopLarge) {
    .box7 {
        display: none;
    }

    .box8 {
        display: none;
    }
}

@media screen and (max-width: $tabletPortrait) {

    .picture5 {
        display: none;
    }

}

@media screen and (max-width:$phoneLandscape) {
    .img_container {
        width: 250px;
        margin: 10px;
    }
}

@media screen and (max-width:$phone1) {
    .box {
        width: 300px;
    }
    .img_box_container img {
        width: 300px;
    }
    .item {
        width: 300px;
        height: 300px;
    }
    figure {
        width: 300px;
    }
}
@media screen and (max-width:$phone2) {

    .picture1,
    .picture2,
    .picture4 {
        display: none;
    }
}

