//Contact Page
.hero-section {
    background-image: url('../images/contact-copy.jpg') 50% no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    height: $hero-height;
    align-items: center;
    justify-content: center;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 0px;
    margin-top: 0;
    
}
.hero-text{
    display: flex;
    align-content: center;
    font-size: 15px;
    padding-top:0px;
    margin:auto;
    text-align: center;
    color:black;
    position: relative;
}