//Colors
$body-background-color:rgb(237, 235, 235);
$nav-background:#faf7f7;
$nav-border-hover:rosybrown;
$nav-font-color:black;

//Fonts

// Utility variables
$link-hover-selector: '&:hover, &:focus, &:active';

