//Contact Page
.hero-section {
    // background-image: url('../images/contact-copy.jpg') 50% no-repeat;
    // background-size: cover;
    text-align: center;
    display: flex;
    //height: $hero-height;
    align-items: center;
    justify-content: center;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: 0; 

    .hero-img {
        display: flex;
        align-items: flex-start;
    }

    img {
        display: block;
    }
}

.contact-column {
    display: flex;
    flex-direction: column;
    padding-left: 110px;
    padding-right:90px;
}

.contact-form {
    padding-left:100px;
    padding-right:90px;
}

.flex-container-contact {
    display: flex;
    flex-direction:row;
    justify-content: center;
}

/* Form start */
form { 
   margin:0 auto;
   width: 400px;
   padding: 1em;
   border:1px solid black;
   border-radius: 1em;
}

form div + div { 
    margin-top:1em;
}

label {
    display: flex;
    width:90px;
    text-align: right;
}

input, textarea {
    font: 1em 'Merriweather', serif;
    width:300px;
    padding-right: 0px;
    box-sizing: border-box;
    border: 1px solid black;
}

input:focus, textarea:focus {
border-color: #000;
}

textarea{
    vertical-align: top;
    align-content: left;
    height: 5em;
}

.button {
    padding-left:90px;
    margin-left: .5em;
    align-items: center;
}

ul {
    list-style-type: none;
}

.subscribe {
    width:100%;  
}

.email_subscribe {
    display: flex;
}