//wedding page
@import 'variables'; 

.wedding-banner {
    margin: auto 15px;
    padding-left:15px;
    padding:10px;
}

.bridal-bouquets {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
}

.bride-row {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin:auto;
    padding: 20px;
    padding-top: 10px;
    padding-left:122px;
}
.boutonniere-row{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin: auto;
    padding: 20px;
    padding-right:122px;
}

.maid-row {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin: auto;
    padding: 20px;
    padding-left:122px;
}

.cp-row {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin:auto;
    padding:20px;
    padding-right:122px;
}


@media screen and (max-width: $desktopWeddingPage) {
    .banner-3 {
        display: none;
    }
}


@media screen and (max-width: $tabletWeddingPage){
    .banner-6{
        display: none;
    }
}

@media screen and (max-width: $tabletWeddingPages){
    .banner-4{
        display: none;
    }
}

@media screen and (max-width: $tabletBannerWedding){
    .banner-1{
        display: none;
    }
}

@media screen and (max-width: $phoneLandscape){
    .banner-2{
        display: none;
    }
    .banner-5{
        display: none;
    }
}